.container {
    .container{
        h1 {
            font-size: 36px;
            padding-top: 14px;
            padding-bottom: 17px;
        }
        h2 {
            opacity: 0.8;
        }
    }
}