.container{
    height: 80vh;
    width: 100%;
    // background-color: blue;
    display: flex;
    justify-content: space-around;

    h2 {
        text-align: center;
    }

    .graph {
        height: 400px;
        width: 60%
        
    }
}