.container{
    height: 75vh;
    width: 100%;
    // background-color: blue;
    display: flex;
    justify-content: space-around;

    h2 {
        text-align: center;
    }

    .graph {
        height: 100%;
        width: 60%;
        
        .graphcontainer {
            height: 50%;
        }
        
    }

    .cardcontainer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        @media screen and (max-width: 700px){
            width: 175px;
        }
    }
}